.cadastroContainer {
  max-width: 400px;
  margin: 20rem auto;
  padding: 2rem;
  background-color: var(--primary);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cadastroContainer h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.cadastroContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cadastroContainer input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  background-color: var(--primary-light);
  border-radius: 8px;
}

.cadastroContainer button {
  padding: 0.75rem;
  background-color: var(--primary-dark);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}