.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: var(--primary-dark);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 3%;
  padding-bottom: 3%;
}

.container h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.cartInfo {
  border-radius: 1.5rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--primary);
  background-color: var(--primary-light);
  border-radius: 1rem;
  padding: 1rem;
}

